body {
    background-image: url("recipes/images/background.jpg");
    background-repeat: repeat-y;
    background-position: center ;
}

.flag {
    width:40px ;
    height:40px ;
    display: block;
    margin-left: auto;
    margin-right: auto
}


.heading-one,
.heading-two,
.heading-three {
    text-align: center;
}

.heading-one {
    color: rgb(0, 116, 0) ;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bold;
    font-size: 70px ;
    position:relative;
}

.heading-two {
    color: rgba(255, 253, 253, 0.925) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: italic ;
    font-size: 60px ;
}

.heading-three {
    color: rgba(241, 2, 2, 0.925) ;
    font-family: cursive ;
    font-style:inherit ;
    font-size: 50px ;
}